/* PROPIEDADES INNATAS */
body {
  background-color: #181240; }

header {
  height: 15vh; }

main {
  height: 45vh;
  width: 100%; }

footer {
  height: 25vh; }

/*  ESTILOS DE TEXTO */
.titulo {
  color: white;
  font-family: 'Nerko One', cursive;
  font-size: 50px; }

.parrafo {
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 40px;
  padding: 15px;
  border-style: dashed;
  border-color: #BF9850; }

.articulos {
  padding: 20px;
  height: fit-content; }

/*  C A R R U S E L*/
.carrusel {
  height: 400px;
  width: 400px;
  margin: auto; }
