main {
  height: 45vh;
  width: 100%; }
  main div div div img {
    border-radius: 10px;
    border-style: solid; }
  main div div div div h5 {
    margin: auto;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    background-color: #181240a2;
    color: #BF9850; }
  main div div div div p {
    margin: auto;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    background-color: #181240a2;
    color: #BF9850;
    font-family: "font-family: 'Nerko One', cursive"; }
    main div div div div p a {
      color: #BF9850; }

body {
  background-image: linear-gradient(#2D17BF, #26168d, #181240 50%);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; }
  body header {
    height: 15vh; }
  body footer {
    height: 25vh; }

.titulo {
  color: white;
  font-family: 'Nerko One', cursive;
  font-size: 50px; }

.parrafo {
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 40px;
  padding: 15px;
  border-style: dashed;
  border-color: #BF9850; }

.articulos {
  padding: 20px;
  height: fit-content; }

.carrusel {
  height: 400px;
  width: 400px;
  margin: auto; }
