@import "./varimixmap.scss";
@import"./main.scss";

body{
    background-image: linear-gradient(#2D17BF, #26168d, #181240 50%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    header{
        height: 15vh;
    }
    footer{
        height: 25vh;
    }
}

.titulo { color: white;
    font-family: 'Nerko One', cursive;
    font-size: 50px;
}

.parrafo{
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 40px;
    padding: 15px;
    border-style: dashed;
    border-color: #BF9850;
  }
  .articulos{
  padding: 20px;
  height: fit-content;
  }
  .carrusel{
  height: 400px;
  width: 400px;
  margin: auto;
  }
